.ctn {
  margin-top: 200px;
  margin-bottom: 200px;
  z-index: -1;
}
.title {
  font-family: Lora-Bold;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.description {
  font-family: Lora-Medium;
  font-size: 18px;
}
.animation {
  width: 90%;
  height: 90%;
}